.error-title {
    font-size: 80px;
}

.error-title i {
    color: #ffa600;
}

.error {
    padding-top: 120px !important;
}

.error-btn{
    background-color: #1CB0E6 !important;
    color: white !important;
}
.error-btn:hover{
    background-color: white !important;
    color: #1CB0E6 !important;
    border: 1px solid #1CB0E6;
}
