.center img {
    width: 250px !important;
    height: 250px;
    border-radius: 50% !important;
    border: 3px solid #1CB0E6 !important;
}

.center {
    width: 260px !important;
    margin: auto !important;
}

#card {
    border: 3px solid #1CB0E6 !important;
}

@media only screen and (max-width:688px) {

    #row {
        width: 100% !important;
        padding: 10px;
    }



}


@media only screen and (min-width:688px) and (max-width:992px) {
    #row {
        width: 80% !important;
        padding: 10px;
    }
}